{% extends 'calculator/base.html' %}

{% block head %}
<title>Easy is as easy comes</title>
{% endblock %}

{% block body %}
<header>
    <div class="container">
        <img src="{{url_for('static', filename='images/Screenshot 2021-03-28 064126.png')}}" alt="logo" class="logo">
        
        <nav>
            <ul>
                <li><a href="/sub">Subtraction</a></li>
                <li><a href="/mul">multiplication</a></li>
                <li><a href="/linear_equations">Linear Equations</a></li>
                <li><a href="/trace_mat">trace</a></li>
                <li><a href="/determnt">determinant</a></li>
                <li><a href="/eigen_vals">eigen values</a></li>
                <li><a href="/power_mat">Power of matrix</a></li>
                <li><a href="/inverse_mat">Inverse of Matrix</a></li>
            </ul>
        </nav>
    
    
    </div>
</header>



<form action="" class=" form-outline table table-hover table-borderless shadow p-3 mb-5 bg-body rounded-3" method="post" style="width: 80%; justify-self: center;">
    <h6>Dimensions of Matrices:</h6>
    <input class="form-control form-control-sm" type="number" name="row_num" id="row_num"/>
    X
    <input class="form-control form-control-sm" type="number" name="col_num" id="col_num"/>
    <input class="btn btn-primary" type="submit"/>
</form>
<br/> <br/>

<form class="table table-hover table-borderless shadow p-3 mb-5 bg-body rounded-3" action="" method="post">
    <input type="hidden" name="row_n", value="{{row_num}}">
    <input type="hidden" name="col_n", value="{{col_num}}">
    <h6>Enter Matrices for Addition</h6>
    <div class="row">
        <div class="" style="flex:1;">
            {% for row in range(row_num) %}
                {%for col in range(col_num)%}
                    <input type="number" class="btn btn-primary" name="mat1[]" id="mat1[]"/>
                {%endfor%}
                <br/>
            {%endfor%}
        </div>
        <div class="col-xs-6" style="flex: 1;">
            {% for row in range(row_num) %}
                {%for col in range(col_num)%}
                    <input class="btn btn-primary" type="number" name="mat2[]" id="mat2[]"/>
                {%endfor%}
                <br/>
            {%endfor%}
        </div>
    </div>
        <br>
        <input class="btn btn-primary" type="submit"/>
    </form>

{% endblock %}