{% extends 'calculator/base.html' %}

{% block head %}
<title>Addition</title>
{% endblock %}

{% block body %}
<header>
    <div class="container">
        <img src="{{url_for('static', filename='images/Screenshot 2021-03-28 064126.png')}}" alt="logo" class="logo">
        
        <nav>
            <ul>
                <li><a href="/sub">Subtraction</a></li>
                <li><a href="/mul">multiplication</a></li>
                <li><a href="/linear_equations">Linear Equations</a></li>
                <li><a href="/trace_mat">trace</a></li>
                <li><a href="/determnt">determinant</a></li>
                <li><a href="/eigen_vals">eigen values</a></li>
                <li><a href="/power_mat">Power of matrix</a></li>
                <li><a href="/inverse_mat">Inverse of Matrix</a></li>
                <li><a href="/rank_mat">Rank of Matrix</a></li>
                <li><a href="/">Mat Blog</a></li>
            </ul>
        </nav>
    
    
    </div>
</header>



<form action="" class=" form-group form-outline shadow p-3 mb-5 bg-body rounded-3" method="post" style="width: 80%; margin-left: 10%;">
    <h6>Dimensions of Matrices:</h6>
        <input class="form-control " type="number" name="row_num" id="row_num"/>
        X
        <input class="form-control" type="number" name="col_num" id="col_num"/>

        <br/>
    <input class="btn btn-primary" type="submit"/>
</form>
<br/> <br/>

<form class="" action="" method="post" style="width: 80%; margin-left: 10%;">
    <input type="hidden" name="row_n", value="{{row_num}}">
    <input type="hidden" name="col_n", value="{{col_num}}">
    <h6 style="margin-left: 10px;">Enter Matrices for Addition</h6>
    <div class="row" style="padding:10px; display:flex; width:fit-content; flex-direction:row;">
        <div class="shadow" style="display: inline-block; flex:1;border-radius: 15px;">
            <div style="margin-left:10px; margin-right:10px; margin-top:10px;">
                {% for row in range(row_num) %}
                <div class="flex-container">
                    {%for col in range(col_num)%}
                    <div style="padding: 1px;">
                        <input type="number" class="input" name="mat1[]" id="mat1[]" />
                    </div>
                    {%endfor%}
                </div>
                    <br><br>
                {%endfor%}
            </div>
        </div>
        <div style="display: inline-block; flex:1; margin-top: 12.5%; font-size: 24px;justify-self: center;margin-left:4%;">
        +
        </div>
        <div class="shadow" style="display: inline-block;flex:1; border-radius: 15px; ">
            <div style="margin-left:10px; margin-right:10px; margin-top:10px;">
                {% for row in range(row_num) %}
                <div class="flex-container">   
                    {%for col in range(col_num)%}
                    <div style="padding: 1px;">
                        <input class="input" type="number" name="mat2[]" id="mat2[]"/>
                    </div>
                    {%endfor%}
                </div>
                <br/><br/>
                {%endfor%}
            </div>
        </div>
        <input class="btn btn-primary" type="submit" style="display: inline-block; padding-inline-end: 10px;margin-top:2%" />
    </div>
    <br>
    <br>
    <br>
    </form>

{% endblock %}